@import './variables.scss';

.pointer{
  cursor: pointer;
}

.icon-xs{
  width: 8px;
  height: 8px;
}

.icon-sm{
  width: 16px;
  height: 16px;
}

.icon-md{
  width: 24px;
  height: 24px;
}

.color-main{
  color: $main-color;
}

.color-secondary{
  color: $secondary-color;
}

.color-tertiary{
  color: $tertiary-color;
}

.color-dark{
  color: $dark-color;
}

.color-light{
  color: $light-color;
}

.bg-dark-shade{
  background-color: $dark-shade;
}

.border-sm-dark-shade{
  border: 2px solid $dark-shade;
}

.border-sm-dark-tint{
  border: 2px solid $dark-tint;
}

.page{
  margin: 0;
  padding: 20px;
  background-color: $light-color;
  min-height: 100vh;
  width: calc(100% - 110px);
  margin-left: auto;
}

.page-content-wrapper{
  margin: auto;
  max-width: $max-width;
}

.header-one{
  font-size: $lg-font;
}