$main-color: #235789;
$secondary-color: #ED1C24;
$tertiary-color: #F1D302;
$dark-color: #0B1723;
$dark-shade: #232e39;
$dark-tint: #04090e;
$light-color: #FDFFFC;
$light-color-two: #F0F5F5;

$small: 400px;
$medium: 800px;
$large: 1200px;

$double-xl-font: 64px;
$xl-font: 46px;
$lg-font: 34px;
$md-font: 22px;
$sm-font: 12px;
$xs-dont: 8px;

$max-width: 1080px;
 